html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

em {
  font-style: normal;
}

.nowrap {
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

.pc{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.slide-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid yellow; */
}

.slide-container.show{
  animation-name: overlay-in;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}

.slide-container.hide{
  animation-name: overlay-out;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}

@keyframes overlay-in {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

@keyframes overlay-out {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

div.slide {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  /* border: solid purple; */
}

.slide__wrapper{
  flex: 1 0 100%;
  display: flex;
  flex-direction: row;
  /* border: solid purple; */
  overflow-x: hidden;
  overflow-y: hidden;
  transition: flex-basis 0.5s;
}

div.slide--gridded .slide__wrapper{
  flex-basis: 90%;
}

.slide__front{
  flex: 1 0 100%;
  min-width: 0;
  /* Write a whole article about the min-width fiasco */

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25vw;
  overflow-y: scroll;
  overflow-x: hidden;

  border: solid;
  border-right: 0;
  transition: border-right 0.5s, flex-basis 0.5s, font-size 0.5s;
  position: relative;
}


div.slide--gridded .slide__front{
  flex-basis: 50%;
  font-size: max(80px, 12vw);
}

.slide__front--exampleSentence, div.slide--gridded .slide__front--exampleSentence {
  font-size: max(30px, 4.5vw);
  align-items: unset;
}

.slide__front .text-container {
  /* border: solid pink; */
  width: 50vw;
  /* height: 200px; */
  max-height: 100%;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: top 0.5s, transform 0.5s;
}



/* There's something terribly wrong with the below rule */
.slide__front--sentence, div.slide--gridded .slide__front--sentence{
  flex-direction: column;
  overflow-y: auto;
  font-size: max(30px, 5vw);
}

.slide__front--sentence > div{
  /* border: solid purple; */

  flex-basis: 50%;
  display: flex;
  width: 50vw;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  padding-right: 20px;
}

/* div.slide--gridded .slide__front{ */
/*   font-size: max(80px, 10vw); */
/* } */

/* div.slide--gridded .slide__front--medium{ */
/*   font-size: 4vw; */
/* } */

.slide__back{
  flex: 1 0 50%;
  font-size: 30px;
  padding-top: 50px;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  overflow-y: auto;
  border: solid;
  /* border: solid brown; */
}

div.slide--gridded .slide__back{
  flex-basis: 50%;
  display: block;
}

.slide__rating-row{
  flex-basis: 10%;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.slide__got-it, .slide__no-got-it{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: solid black;
  border-top: 0;
}

.slide__no-got-it{
  border-right: 0;
}

.slide__got-it:hover, .slide__no-got-it:hover{
  background: black;
  color: white;
}

@media (max-width: 768px) {

  .slide--gridded .slide__front .text-container {
    transform: translateY(0%);
    top: 5%;
  }

  .slide__wrapper{
    flex-direction: column;
    min-height: 0;
  }

  div.slide__front{
    border-right: solid;
  }

  div.slide--gridded .slide__front{
    border-bottom: 0;
  }

  .slide__front .text-container {
    width: 75vw;
  }

  .slide__front--sentence > div{
    width: 75vw;
  }

}

.back-heading {
  font-weight: 800;
}

.back-word-answer {
  font-weight: 800;
  font-size: 40px;
}

.back-word-answer > span{
  background-color: yellow;
}

/* .slide--gridded .slide__front, .slide--gridded .slide_back{ */
/*   display: flex; */
/*   align-items: center; */
/* } */

div.imageText {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* normally not good, but ok in context of full screen directional navigation */
.talk-mode .slide:focus {
  outline: 0;
}

body.talk-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body.print-mode {
  background: #fff;
  color: #000;
  font-weight: normal;
  padding: 0px;
}

body.print-mode div.sub-container {
  padding: 10px 20px;
  display: flex;
  flex-flow: row wrap;
  break-inside: avoid;
}

ul.notes-list {
  display: inline-block;
  float: left;
  vertical-align: top;
}

body.print-mode div.slide-container {
  border: 1px solid #000;
}

body.jump-mode {
  padding: 10px;
}

body.jump-mode div.sub-container {
  display: inline-block;
  vertical-align: top;
  padding: 2px;
}

body.jump-mode div.slide-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

body.jump-mode div.slide-container:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.layout {
  display: grid;
}

.layout div {
  display: flex;
  align-items: center;
}

.layout img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

div.slide > img:only-child,
div.slide > canvas:only-child,
div.slide > video:only-child {
  width: 100%;
}

span{
  /* border: solid; */
}

.hidden-char{
  background-color: black; 
  transition: background-color 0.8s;
}

div.slide--gridded .hidden-char{
  background-color: yellow; 
}

